@import url('http://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background-color: #4183D7;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
}

main {
    background-color: white;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    width: 60%;
    max-width: 900px;
    line-height: 150%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.zoneName {
    font-weight: bolder;
}

.ownerInfo {
    position: relative; top: -0.5em; font-size: 60%;
}

.yes,
.no {
    font-weight: bolder;
}

.yes {
    color: #4DAF7C;
}

.no {
    color: #CF000F;
}

a {
    text-decoration: none;
    color: #4183D7;
}

input[type=submit] {
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background-color: #D64242;
    color: white;
    border: none;
}

input[type=submit]:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input[type=search] {
    border: 1px solid #d9d9d9;
    line-height: 200%;
    border-radius: 2px;
    margin-bottom: 1em;
}

input[type=search]:hover {
    border-color: #c6c6c6;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 200%;
    }
    main {
        width: 100%;
        padding: 0.5em;
        margin: 0 auto;
    }
    input[type=search] {
        border: 1px solid #d9d9d9;
        width: 100%;
        line-height: 200%;
        font-size: 1em;
        margin-bottom: 0;
    }
    input[type=submit] {

        height: 3em;
                width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 150%;
    }
    main {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        box-shadow: none;
    }
    input[type=search] {
        width: 100%;
        line-height: 200%;
        font-size: 1em;
        margin-bottom: 0;
    }
    input[type=submit] {
        width: 100%;
        margin-bottom: 1em;
    }
}
