@import url('http://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #2196f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

header {
    background-color: #1565c0;
    padding: 0.5em 0;
}

.header-content {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 0.3em;
    margin: 0 auto;
    margin-top: 1em;
    width: 85%;
    max-width: 1100px;
    line-height: 150%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: auto;
}

.map {
    background-color: gray;
    width: 70%;
    height: 400px;
    float: left;
}

.info {
    outline: 1px solid #FF8282;
    width: 30%;
    float: left;
    padding: 0.2em;
}

.breadcrumb {
    font-size: 75%;
    color: #5A5A5A;
}

.zoneName {
    font-weight: bolder;
}

.ownerInfo {
    position: relative;
    top: -0.5em;
    font-size: 60%;
}

.yes,
.no {
    font-weight: bolder;
}

.yes {
    color: #4DAF7C;
}

.no {
    color: #CF000F;
}

a {
    text-decoration: none;
    color: #4183D7;
}

form {
    padding: 0;
}

input[type=submit] {
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background-color: #ff4081;
    color: white;
    border: none;
}

input[type=submit]:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input[type=search] {
    border: 1px solid #d9d9d9;
    line-height: 200%;
    border-radius: 2px;
}

input[type=search]:hover {
    border-color: #c6c6c6;
}

.ui-widget {
    font-size: 0.7em !important;
}

.ui-widget-content {
    background-color: white;
    border: 1px solid #aaaaaa;
    color: #222222;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #eee !important;
    background-image: none !important;
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 10 !important;
    /* was 1000 */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 120%;
    }
    form {
        padding: 0;
    }
    main {
        width: 100%;
        padding: 0.5em;
        margin: 0 auto;
    }
    .map {
        width: 60%;
    }
    .info {
        width: 40%;
    }
    input[type=search] {
        border: 1px solid #d9d9d9;
        width: 100%;
        line-height: 200%;
        font-size: 1em;
        margin-bottom: 0;
    }
    input[type=submit] {
        height: 3em;
        width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 130%;
    }
    main {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        box-shadow: none;
    }
    .map, .info {
        float: none;
        width: 100%;
    }
    .map {
        height: 170px;
    }
    input[type=search] {
        width: 100%;
        line-height: 200%;
        font-size: 1em;
        margin-bottom: 0;
    }
    input[type=submit] {
        width: 100%;
        margin-bottom: 0;
    }
}
